.App {
  /* text-align: center; */
}

/* Applies to all div in return statement of components with class="wrapper" */
.wrapper {
  margin-top: 30px;
  margin-bottom: 260px;
}

/* LANDING PAGE BANNER */
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.loginBtn {
  border-radius: 0 !important;
  padding: 15px 20px !important;
  background-color: #a18620 !important;
  border: #a18620 !important;
}

.btn-primary {
  background-color: #a18620 !important;
  border-color: #a18620 !important;
}

.btn-primary:hover {
  background-color: #ad9845 !important;
  border-color: #ad9845 !important;
}

.container-fluid {
  background-color: #eeeee6 !important;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar {
  margin-bottom: 50px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link {
  padding: 15px 20px !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff !important;
  background: #bc9c22;
}

.myFooter {
  position: fixed;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
  color: grey;
  text-align: center;
}
/* LANDING PAGE BANNER */

/* DASHBOARD ACCOUNTS */
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
/* DASHBOARD ACCOUNTS */
